Repository BitBagCommerce/SyliusVueStorefront2Frontend, pull requests merged in 2023-06, with the labels that each got.

#126 SF2-204/Fix product query
  packages/api-client/src/api/getProduct/index.ts
  packages/api-client/src/api/getProduct/queries.ts
  packages/composables/src/composables/useProducts/index.ts
  packages/theme/pages/Category.vue
Labels: theme, api, composables

#127 VSF2-201: Changed category list display
  packages/api-client/src/types.ts
  packages/composables/src/getters/categoryGetters.ts
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
Labels: theme, api, composables

#128 VSF2-203 - Remember me functionality fix
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/LoginModal.vue
Labels: theme, api, composables

#130 VSF2-203 - Remember me functionality fix
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/LoginModal.vue
Labels: theme, composables

#129 VSF2-198: Removed desktop element from mobile menu
  packages/theme/layouts/default.vue
Labels: theme

#131 Hotfix/Fix type error on build after merge of vsf2-166
  packages/composables/src/types/index.ts
Labels: composables

#132 Release 20230602
  packages/api-client/src/api/getCategory/fragments.ts
  packages/api-client/src/api/getCategory/index.ts
  packages/api-client/src/api/getCategory/queries.ts
  packages/api-client/src/api/getProduct/index.ts
  packages/api-client/src/api/getProduct/queries.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/types.ts
  packages/composables/src/composables/useAttributes/index.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/composables/src/composables/useProducts/index.ts
  packages/composables/src/composables/useProductsNotFiltered/index.ts
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/composables/useWishlists/index.ts
  packages/composables/src/getters/categoryGetters.ts
  packages/composables/src/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/CategoryPageHeader.vue
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/components/Checkout/VsfPaymentProvider.vue
  packages/theme/components/FiltersSidebar.vue
  packages/theme/components/HeaderNavigation.vue
  packages/theme/components/LoginModal.vue
  packages/theme/components/MobileCategoryItems.vue
  packages/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/middleware/is-connected.js
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
  packages/theme/pages/Product.vue
Labels: theme, api, composables

#135 VSF2-131: Add edit cart button on checkout pages
  packages/theme/components/Checkout/CheckoutHeader.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Checkout/Shipping.vue
Labels: theme

#138 VSF2-115: Prevent double orders from multiple browser tabs
  packages/composables/src/composables/useMakeOrder/index.ts
  packages/theme/pages/Checkout/Payment.vue
Labels: theme, composables

#134 VSF2-202/Test setup
  docs/.vuepress/config.js
  docs/guide/essentials/testing.md
  package.json
  packages/api-client/jest.config.js
  packages/api-client/package.json
  packages/api-client/tests/api/cart.spec.ts
  packages/api-client/tests/api/createOrder.spec.ts
  packages/api-client/tests/api/getCategory.spec.ts
  packages/api-client/tests/api/getProduct.spec.ts
  packages/api-client/tests/api/review.spec.ts
  packages/api-client/tests/api/user.spec.ts
  packages/api-client/tests/setup.spec.ts
  packages/api-client/tests/setup.ts
  packages/composables/jest.config.js
  packages/composables/package.json
  packages/jest.base.config.js
  packages/theme/components/AppHeader.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CategoryPageHeader.vue
  packages/theme/components/Checkout/CheckoutHeader.vue
  packages/theme/components/Checkout/VsfPaymentProvider.vue
  packages/theme/components/Checkout/VsfShippingProvider.vue
  packages/theme/components/HeaderNavigation.vue
  packages/theme/components/LoginModal.vue
  packages/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/jest.config.js
  packages/theme/nuxt.config.js
  packages/theme/package.json
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Checkout/ThankYou.vue
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/Product.vue
  packages/theme/pages/ResetPassword.vue
  packages/theme/tests/e2e/cypress.config.js
  packages/theme/tests/e2e/cypress.json
  packages/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/theme/tests/e2e/integration/e2e-place-order.cy.ts
  packages/theme/tests/e2e/pages/checkout.ts
  packages/theme/tests/e2e/pages/factory.ts
  packages/theme/tests/e2e/pages/home.ts
  packages/theme/tests/e2e/pages/utils/element.ts
  packages/theme/tests/e2e/plugins/index.js
  packages/theme/tests/e2e/support/index.d.ts
  packages/theme/tests/e2e/tsconfig.json
  packages/theme/tests/e2e/types/address.ts
  packages/theme/tests/e2e/types/customer.ts
  yarn.lock
Labels: theme, api, composables, docs

#139 VSF2-144/Fix category page switching
  packages/composables/src/composables/useProducts/index.ts
Labels: composables

#141 VSF2-195: Extracted product card code to separate component
  packages/theme/components/Product/ProductCard.vue
  packages/theme/components/SearchResults.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Home.vue
Labels: theme

#144 VSF2-212/Fix error on billing page
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/pages/Checkout/Billing.vue
Labels: theme

#143 VSF2-214/Rewrite use cart composable
  packages/composables/src/composables/useCart/index.ts
Labels: composables

#145 VSF2-205/Fix register error
  packages/composables/src/composables/useUser/index.ts
  packages/theme/components/LoginModal.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
Labels: theme, composables

#42 Add reset password functionality
  packages/api-client/src/api/index.ts
  packages/api-client/src/api/user/index.ts
  packages/api-client/src/api/user/queries.ts
  packages/theme/components/LoginModal.vue
  packages/theme/middleware/is-token-valid.js
  packages/theme/pages/ResetPassword.vue
Labels: Next, theme, api

#142 Release 20230615
  packages/api-client/codegen.ts
  packages/theme/components/Wishlist/WishlistDropdown.vue
Labels: theme, api

#149 VSF2-221 - Fixed placeholder images being bigger than product card
  packages/theme/components/Product/ProductCard.vue
  packages/theme/pages/Category.vue
Labels: theme

#148 VSF2-220 - Removed userBillingGetters and useUserBilling, replaced with userShipping
  docs/.vuepress/config.js
  docs/guide/composables/useUserBilling.md
  packages/composables/src/composables/useUserBilling/index.ts
  packages/composables/src/getters/index.ts
  packages/composables/src/getters/userBillingGetters.ts
  packages/composables/src/index.ts
  packages/theme/pages/Checkout/Billing.vue
Labels: theme, composables, docs

#150 VSF2-207: Fixed passwordChange error display for prod environment
  packages/composables/src/composables/useUser/index.ts
Labels: composables

#146 VSF2-210/Fix search results category selection
  packages/theme/components/SearchResults.vue
Labels: theme

#151 VSF2-138: Changed phone number validation in myAccount
  packages/theme/components/MyAccount/ShippingAddressForm.vue
Labels: theme

#153 VSF2-217 - Fixed copy billing bug, added e2e test
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/theme/tests/e2e/integration/e2e-copy-billing.cy.ts
  packages/theme/tests/e2e/pages/category.ts
  packages/theme/tests/e2e/pages/checkout.ts
Labels: theme

#155 VSF2-216 - Fixed bug, selecting saved address loads data
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Shipping.vue
Labels: theme

#154 VSF2-206: Changed customer cookies maxAge
  packages/composables/nuxt/plugin.js
Labels: ci, theme, api, composables, docs

#158 VSF2-222/Logging in on checkout page redirects you from checkout
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/LoginModal.vue
  packages/theme/composables/useUiState.ts
  packages/theme/pages/Checkout/Billing.vue
Labels: theme, composables

#159 VSF2-227 - Fixed coupon codes
  packages/composables/src/composables/useCart/index.ts
  packages/theme/components/Checkout/CartPreview.vue
Labels: theme, composables

#160 VSF2-227 - Fixed previous message being displayed (on add coupon code)
  packages/composables/src/composables/useCart/index.ts
  packages/theme/components/Checkout/CartPreview.vue
Labels: theme, composables

#163 VSF2-194/Add bulk actions components
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/getters/wishlistGetters.ts
  packages/theme/components/BulkActionsList.vue
  packages/theme/components/Wishlist/WishlistItems.vue
Labels: theme, composables
