Repository BitBagCommerce/SyliusVueStorefront2Frontend, pull requests merged in 2023-05, with the labels that each got.

#87 [Develop] Release v1.3.0
  packages/api-client/src/api/cart/index.ts
  packages/api-client/src/api/cart/mutations.ts
  packages/api-client/src/api/fragments/wishlist.ts
  packages/api-client/src/api/getProduct/fragments.ts
  packages/api-client/src/api/helpers.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/api/wishlist/index.ts
  packages/api-client/src/api/wishlist/mutations.ts
  packages/api-client/src/api/wishlist/queries.ts
  packages/api-client/src/types.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useWishlist/index.ts
  packages/composables/src/composables/useWishlists/index.ts
  packages/composables/src/getters/cartGetters.ts
  packages/composables/src/getters/wishlistGetters.ts
  packages/composables/src/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/BottomNavigation.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/components/Notification.vue
  packages/theme/components/Wishlist/WishlistDropdown.vue
  packages/theme/components/Wishlist/WishlistForm.vue
  packages/theme/components/Wishlist/WishlistItems.vue
  packages/theme/components/Wishlist/WishlistsList.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/composables/useUiNotification/index.ts
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Product.vue
  packages/theme/tsconfig.json
Labels: Next

#82 VSF2-173: remove duplicated queries - product page
  packages/theme/pages/Product.vue
Labels: Next

#68 VSF2-155
  packages/theme/pages/Category.vue
Labels: Next

#92 VSF2-177: Category tree structure refactor
  packages/api-client/src/api/getCategory/fragments.ts
  packages/api-client/src/api/getCategory/index.ts
  packages/api-client/src/api/getCategory/queries.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/composables/src/getters/categoryGetters.ts
  packages/theme/components/CategoryPageHeader.vue
  packages/theme/components/HeaderNavigation.vue
  packages/theme/pages/Category.vue
Labels: Next

#67 VSF2-154
  packages/theme/components/Wishlist/WishlistsList.vue
Labels: Next

#93 [Develop] Release v1.3.0
  packages/theme/components/Wishlist/WishlistsList.vue
  packages/theme/pages/Category.vue
Labels: Next

#94 Release v1.3.0
  packages/api-client/src/api/cart/index.ts
  packages/api-client/src/api/cart/mutations.ts
  packages/api-client/src/api/fragments/wishlist.ts
  packages/api-client/src/api/getProduct/fragments.ts
  packages/api-client/src/api/helpers.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/api/wishlist/index.ts
  packages/api-client/src/api/wishlist/mutations.ts
  packages/api-client/src/api/wishlist/queries.ts
  packages/api-client/src/types.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useWishlist/index.ts
  packages/composables/src/composables/useWishlists/index.ts
  packages/composables/src/getters/cartGetters.ts
  packages/composables/src/getters/wishlistGetters.ts
  packages/composables/src/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/BottomNavigation.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/components/Notification.vue
  packages/theme/components/Wishlist/WishlistDropdown.vue
  packages/theme/components/Wishlist/WishlistForm.vue
  packages/theme/components/Wishlist/WishlistItems.vue
  packages/theme/components/Wishlist/WishlistsList.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/composables/useUiNotification/index.ts
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Product.vue
  packages/theme/tsconfig.json
Labels: Next

#40 VSF2-60/Add wishlist functionality
  packages/api-client/src/api/cart/index.ts
  packages/api-client/src/api/cart/mutations.ts
  packages/api-client/src/api/fragments/wishlist.ts
  packages/api-client/src/api/getProduct/fragments.ts
  packages/api-client/src/api/helpers.ts
  packages/api-client/src/api/index.ts
  packages/api-client/src/api/wishlist/index.ts
  packages/api-client/src/api/wishlist/mutations.ts
  packages/api-client/src/api/wishlist/queries.ts
  packages/api-client/src/types.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useWishlist/index.ts
  packages/composables/src/composables/useWishlists/index.ts
  packages/composables/src/getters/wishlistGetters.ts
  packages/composables/src/index.ts
  packages/composables/src/types/index.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/BottomNavigation.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/Wishlist/WishlistDropdown.vue
  packages/theme/components/Wishlist/WishlistForm.vue
  packages/theme/components/Wishlist/WishlistItems.vue
  packages/theme/components/Wishlist/WishlistsList.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Product.vue
  packages/theme/tsconfig.json
Labels: Next

#70 VSF2-124/Add enter confirm to product page quantity input
  packages/theme/components/Checkout/CartPreview.vue
Labels: Next

#71 VSF2-113/Add enter submit for coupon form in checkout page
  packages/theme/components/Checkout/CartPreview.vue
Labels: Next

#72 VSF2-118/Change notifications position
  packages/theme/components/Notification.vue
  packages/theme/composables/useUiNotification/index.ts
Labels: Next

#73 VSF2-114/Fix copy from billing button after refresh
  packages/theme/pages/Checkout/Shipping.vue
Labels: Next

#74 VSF2-128/Fix shipping total display in checkout
  packages/api-client/src/types.ts
  packages/composables/src/getters/cartGetters.ts
Labels: Next

#75 VSF2-112/Fix toggling of language switcher
  packages/theme/components/LocaleSelector.vue
Labels: Next

#63 VSF2-141 - Added seperate query for useFacet()
  packages/api-client/src/api/getProduct/fragments.ts
  packages/api-client/src/api/getProduct/index.ts
  packages/api-client/src/api/getProduct/queries.ts
  packages/api-client/src/api/index.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/theme/pages/Category.vue
Labels: Next

#88 VSF2-180 - Refactored 'add to cart' button
  packages/composables/src/getters/productGetters.ts
  packages/theme/components/AddToCart.vue
  packages/theme/components/CartSidebar/QuantitySelector.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Product.vue
Labels: Next

#90 VSF2-168 - Fixed mobile view appearance
  packages/theme/components/AppFooter.vue
  packages/theme/components/FiltersSidebar.vue
Labels: Next

#91 VSF2-183 - Changed mobile notifications to look like desktop notifications and moved them to top
  packages/theme/components/Notification.vue
Labels: Next

#80 VSF2-146 - VSF-121 - Disabled buttons if product is out of stock, stock display, improved quantity selector logic + variant selector with changes
  packages/api-client/src/api/fragments/cart.ts
  packages/api-client/src/api/getProduct/fragments.ts
  packages/composables/src/getters/productGetters.ts
  packages/theme/components/AddToCart.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/CartSidebar/QuantitySelector.vue
  packages/theme/components/RelatedProducts.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/composables/useVariantSelector/index.ts
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/Product.vue
Labels: Next

#85 VSF2-165 - Added all missing string translations
  packages/theme/components/AppHeader.vue
  packages/theme/components/BottomNavigation.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/FiltersSidebar.vue
  packages/theme/components/HeaderNavigation.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/components/LoginModal.vue
  packages/theme/components/MobileStoreBanner.vue
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/components/SearchResults/SfImage.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/error.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Checkout/ThankYou.vue
  packages/theme/pages/ConnectionError.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
  packages/theme/pages/Product.vue
  packages/theme/pages/ResetPassword.vue
Labels: Next

#96 [Develop] Release 1.4.0
  packages/api-client/src/api/fragments/cart.ts
  packages/api-client/src/api/getProduct/fragments.ts
  packages/api-client/src/api/getProduct/index.ts
  packages/api-client/src/api/getProduct/queries.ts
  packages/api-client/src/api/index.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/composables/src/getters/productGetters.ts
  packages/theme/components/AddToCart.vue
  packages/theme/components/AppFooter.vue
  packages/theme/components/AppHeader.vue
  packages/theme/components/BottomNavigation.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/CartSidebar/QuantitySelector.vue
  packages/theme/components/FiltersSidebar.vue
  packages/theme/components/HeaderNavigation.vue
  packages/theme/components/LocaleSelector.vue
  packages/theme/components/LoginModal.vue
  packages/theme/components/MobileStoreBanner.vue
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/components/Notification.vue
  packages/theme/components/RelatedProducts.vue
  packages/theme/components/SearchResults/SfImage.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/composables/useVariantSelector/index.ts
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/layouts/error.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Checkout/ThankYou.vue
  packages/theme/pages/ConnectionError.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/MyAccount.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
  packages/theme/pages/Product.vue
  packages/theme/pages/ResetPassword.vue
Labels: Next

#55 VSF2-102/VSF2-103/Searchbar behavior fixes
  packages/theme/components/AppHeader.vue
Labels: Next

#115 VSF2-191 - Fixed quantity selector in cart sidebar
  packages/api-client/src/api/fragments/cart.ts
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
Labels: Next

#112 VSF2-137/Add validation to phone number in my account page
  packages/theme/components/MyAccount/ProfileUpdateForm.vue
Labels: Next

#116 VSF2-192/Fix issue with cart after adding incorrect coupon code
  packages/theme/components/SearchResults.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/Product.vue
Labels: Next

#117 VSF2-192/Fix issue with cart after adding incorrect coupon code
  packages/theme/components/SearchResults.vue
  packages/theme/components/VariantSelector.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/Product.vue
Labels: Next

#69 VSF2-127/Fix possibility of double clicking make order button in checkout
  packages/theme/pages/Checkout/Payment.vue
Labels: Next

#108 VSF2-110/Fix overflow in cart preview
  packages/theme/components/Checkout/CartPreview.vue
Labels: Next

#109 VSF2-100/Fix input border
  packages/theme/layouts/default.vue
Labels: Next

#110 VSF2-190/Fix wishlist dropdown toggling
  packages/theme/components/Wishlist/WishlistDropdown.vue
Labels: Next

#105 VSF2-170/Fix GitHub workflows
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/conventional-pr-name.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-lighthouse.yml
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
  .github/workflows/docs-deployment.yaml
  .github/workflows/draft-release-pr.yml
  .github/workflows/merge-release.yml
  .github/workflows/publish-npm.yml
  .github/workflows/run-e2e-regression.yml
  .github/workflows/run-e2e-tests.yml
Labels: ci

#119 VSF2-192/Fix issue with cart after adding incorrect coupon code - additional fixes
  packages/theme/components/CartSidebar.vue
  packages/theme/pages/Checkout/Payment.vue
Labels: theme

#106 VSF2-188 - Hotfix - copy address button is now working
  packages/theme/pages/Checkout/Shipping.vue
Labels: Next

#120 VSF2-151: Optimization - non blocking UI queries
  packages/api-client/src/api/getCategory/fragments.ts
  packages/api-client/src/api/getCategory/index.ts
  packages/api-client/src/api/getCategory/queries.ts
  packages/api-client/src/api/getProduct/index.ts
  packages/api-client/src/api/getProduct/queries.ts
  packages/api-client/src/api/index.ts
  packages/composables/src/composables/useAttributes/index.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useFacet/index.ts
  packages/composables/src/composables/useProducts/index.ts
  packages/composables/src/composables/useProductsNotFiltered/index.ts
  packages/composables/src/composables/useWishlists/index.ts
  packages/composables/src/getters/categoryGetters.ts
  packages/composables/src/index.ts
  packages/theme/components/AppHeader.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/CategoryPageHeader.vue
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/components/Checkout/VsfPaymentProvider.vue
  packages/theme/components/FiltersSidebar.vue
  packages/theme/components/HeaderNavigation.vue
  packages/theme/components/LoginModal.vue
  packages/theme/components/MobileCategoryItems.vue
  packages/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/layouts/default.vue
  packages/theme/middleware/is-connected.js
  packages/theme/pages/Category.vue
  packages/theme/pages/Checkout.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Payment.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
  packages/theme/pages/Product.vue
Labels: Next, theme, api, composables

#125 VSF2-197: Close modal on add to cart
  packages/theme/components/VariantSelector.vue
Labels: theme

#122 VSF2-104: Disabled email field if user is logged in - billing page
  packages/theme/pages/Checkout/Billing.vue
Labels: theme
