Repository BitBagCommerce/SyliusVueStorefront2Frontend, pull requests merged in 2023-07, with the labels that each got.

#165 VSF2-228/Fix stock item tracking
  packages/api-client/src/api/getProduct/queries.ts
Labels: api

#168 VSF2-231/Fix quantity selector for horizontal product card
  packages/theme/components/VariantSelector.vue
  packages/theme/composables/useVariantSelector/index.ts
  packages/theme/pages/Category.vue
Labels: theme

#164 VSF2-229/Fix add to cart button position on product card
  packages/theme/components/Product/ProductCard.vue
Labels: theme

#167 vsf2-230: fix errors on add to cart
  packages/composables/src/composables/useCart/index.ts
Labels: composables

#171 VSF2-193 - Fixed error messages not being displayed on production
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useUser/index.ts
Labels: composables

#166 VSF2-218 - Added full support for province name field
  packages/api-client/src/api/cart/index.ts
  packages/api-client/src/api/cart/mutations.ts
  packages/api-client/src/api/cart/queries.ts
  packages/api-client/src/api/user/mutations.ts
  packages/api-client/src/api/user/queries.ts
  packages/api-client/src/types.ts
  packages/composables/src/composables/useBilling/index.ts
  packages/composables/src/composables/useShipping/index.ts
  packages/composables/src/getters/userShippingGetters.ts
  packages/composables/src/types/index.ts
  packages/theme/components/MyAccount/ShippingAddressForm.vue
  packages/theme/components/UserAddress.vue
  packages/theme/pages/Checkout/Billing.vue
  packages/theme/pages/Checkout/Shipping.vue
  packages/theme/tests/e2e/integration/e2e-copy-billing.cy.ts
  packages/theme/tests/e2e/pages/checkout.ts
  packages/theme/tests/e2e/types/address.ts
Labels: theme, api, composables

#170 VSF2-236/Fix quantity selector
  packages/theme/components/CartSidebar/QuantitySelector.vue
Labels: theme

#169 VSF2-235/Fix visibility of wishlist dropdown
  packages/theme/components/Wishlist/WishlistDropdown.vue
Labels: theme

#174 VSF2-235/Remove unnecessary text
  packages/theme/components/Wishlist/WishlistDropdown.vue
Labels: theme

#173 VSF2-237/Add missing translations to wishlist
  packages/theme/components/BulkActionsList.vue
  packages/theme/components/Wishlist/WishlistDropdown.vue
  packages/theme/components/Wishlist/WishlistForm.vue
  packages/theme/components/Wishlist/WishlistsList.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
Labels: theme

#176 VSF2-111/Fix order number on german thank you page
  packages/theme/middleware/default-locale.js
  packages/theme/nuxt.config.js
  packages/theme/pages/Checkout/ThankYou.vue
Labels: theme

#177 VSF2-239/Fix attributes translations
  packages/api-client/src/api/getProduct/index.ts
  packages/composables/src/composables/useAttributes/index.ts
Labels: api, composables

#178 VSF2-232/Fix quantity selector for products without variants
  packages/theme/components/VariantSelector.vue
Labels: theme

#179 VSF2-245/Add helper function for handling errors
  packages/api-client/src/types.ts
  packages/composables/src/composables/useBilling/index.ts
  packages/composables/src/composables/useCart/index.ts
  packages/composables/src/composables/useCategory/index.ts
  packages/composables/src/composables/useMakeOrder/index.ts
  packages/composables/src/composables/useReview/index.ts
  packages/composables/src/composables/useUser/index.ts
  packages/composables/src/composables/useUserOrder/index.ts
  packages/composables/src/composables/useUserShipping/index.ts
  packages/composables/src/getters/reviewGetters.ts
  packages/composables/src/helpers/index.ts
  packages/composables/src/types/index.ts
  packages/theme/pages/Checkout/Billing.vue
Labels: theme, api, composables

#181 VSF2-247/Disconnect build from backend
  .github/workflows/build-develop.yml
  .github/workflows/build.yml
  .github/workflows/e2e-tests.yml
  docs/guide/essentials/general-concepts.md
  package.json
  packages/api-client/codegen.ts
  packages/api-client/package.json
  packages/api-client/schema.graphql
  yarn.lock
Labels: ci, api, docs

#182 VSF2-218 - Fixed bug with loading country in form
  packages/theme/components/MyAccount/ShippingAddressForm.vue
Labels: theme

#183 VSF2-234/Rewrite dropdown logic
  packages/theme/components/BottomNavigation.vue
  packages/theme/components/CartSidebar.vue
  packages/theme/components/Dropdown/DropdownButton.vue
  packages/theme/components/Dropdown/DropdownContent.vue
  packages/theme/components/Product/ProductCard.vue
  packages/theme/components/SearchResults.vue
  packages/theme/components/Wishlist/WishlistButton.vue
  packages/theme/components/Wishlist/WishlistDropdown.vue
  packages/theme/components/WishlistSidebar.vue
  packages/theme/composables/useDropdown.ts
  packages/theme/layouts/default.vue
  packages/theme/pages/Category.vue
  packages/theme/pages/Home.vue
  packages/theme/pages/Product.vue
Labels: theme

#186 VSF2-250/Show cart preview on mobile view
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/pages/Checkout.vue
Labels: theme

#185 VSF2-257/Show breadcrumbs on mobile view
  packages/theme/pages/Category.vue
Labels: theme

#192 Add Slack notification on broken builds
  .github/workflows/build.yml
  .github/workflows/e2e-tests.yml
Labels: ci

#189 VSF2-259/Show sorting options on mobile view
  packages/theme/components/CategoryPageHeader.vue
Labels: theme

#188 VSF2-251/Fix quantity changing in cart
  packages/theme/components/CartSidebar.vue
  packages/theme/components/CartSidebar/ProductItem.vue
  packages/theme/components/CartSidebar/QuantitySelector.vue
Labels: theme

#187 VSF2-292/Fix price display on product page
  packages/api-client/src/api/getProduct/queries.ts
Labels: api

#193 VSF2-262 - Added e2e test for using coupon codes
  .github/workflows/e2e-tests.yml
  packages/theme/components/CartSidebar/QuantitySelector.vue
  packages/theme/components/Checkout/CartPreview.vue
  packages/theme/tests/e2e/cypress-github-action.config.js
  packages/theme/tests/e2e/fixtures/api/e2e-api-responses-modifications.ts
  packages/theme/tests/e2e/fixtures/api/e2e-api-responses.ts
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-addAddress-billing.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-addAddress-shipping.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-addToCart.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-createCart.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-createOrder.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getCart-billingSubmit.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getCart-empty.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getCart-makeOrder.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getCart-withProduct.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getCategory.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getCountries.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getFirstProductId.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getMinimalProduct.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getPaymentMethods.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getProductAttribute.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getProductNotFiltered.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-getShippingMethods.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-updateCartPayment.json
  packages/theme/tests/e2e/fixtures/graphql-responses-data/e2e-updateCartShipping.json
  packages/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/theme/tests/e2e/integration/e2e-copy-billing.cy.ts
  packages/theme/tests/e2e/integration/e2e-place-order.cy.ts
  packages/theme/tests/e2e/integration/e2e-use-coupon.cy.ts
  packages/theme/tests/e2e/pages/category.ts
  packages/theme/tests/e2e/pages/checkout.ts
  packages/theme/tests/e2e/pages/product.ts
  packages/theme/tests/e2e/pages/utils/element.ts
  packages/theme/tests/e2e/support/commands.js
  packages/theme/tests/e2e/types/types.d.ts
Labels: ci, theme

#194 VSF2-251/show notification if quantity is wrong
  packages/theme/components/CartSidebar.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
Labels: theme

#195 VSF2-284 - Added test for changing item quantity
  packages/theme/components/CartSidebar/QuantitySelector.vue
  packages/theme/tests/e2e/fixtures/api/e2e-api-responses-modifications.ts
  packages/theme/tests/e2e/integration/e2e-changing-quantity.cy.ts
  packages/theme/tests/e2e/integration/e2e-use-coupon.cy.ts
  packages/theme/tests/e2e/pages/category.ts
  packages/theme/tests/e2e/pages/checkout.ts
  packages/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/theme/tests/e2e/pages/components/header.ts
  packages/theme/tests/e2e/pages/product.ts
  packages/theme/tests/e2e/pages/utils/element.ts
  packages/theme/tests/e2e/support/commands.js
  packages/theme/tests/e2e/support/index.d.ts
  packages/theme/tests/e2e/types/types.d.ts
Labels: theme

#197 VSF2-294/Fix email for guest billing
  packages/api-client/src/api/cart/mutations.ts
  packages/api-client/src/api/cart/queries.ts
  packages/theme/pages/Checkout/Billing.vue
Labels: theme, api

#196 VSF2-274/Fix search scroll on mobile
  packages/theme/components/SearchResults.vue
Labels: theme

#198 VSF2-279 - Added tests for adding products to cart
  packages/theme/components/VariantSelector.vue
  packages/theme/tests/e2e/fixtures/api/e2e-api-responses-modifications.ts
  packages/theme/tests/e2e/fixtures/test-data/e2e-products.ts
  packages/theme/tests/e2e/integration/e2e-add-product-to-cart.cy.ts
  packages/theme/tests/e2e/pages/category.ts
  packages/theme/tests/e2e/pages/components/product-modal.ts
  packages/theme/tests/e2e/pages/factory.ts
Labels: theme

#200 VSF2-298/Fix login issues
  packages/composables/nuxt/plugin.js
  packages/composables/src/helpers/index.ts
  packages/theme/pages/Checkout/Billing.vue
Labels: theme, composables

#201 VSF2-284 - Added test for decreasing quantity
  packages/theme/components/VariantSelector.vue
  packages/theme/pages/Product.vue
  packages/theme/tests/e2e/integration/e2e-add-product-to-cart.cy.ts
  packages/theme/tests/e2e/integration/e2e-changing-quantity.cy.ts
  packages/theme/tests/e2e/integration/e2e-copy-billing.cy.ts
  packages/theme/tests/e2e/integration/e2e-place-order.cy.ts
  packages/theme/tests/e2e/integration/e2e-use-coupon.cy.ts
  packages/theme/tests/e2e/pages/category.ts
  packages/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/theme/tests/e2e/pages/components/header.ts
  packages/theme/tests/e2e/pages/components/product-modal.ts
  packages/theme/tests/e2e/pages/components/quantity-selector.ts
  packages/theme/tests/e2e/pages/components/variants-selector.ts
  packages/theme/tests/e2e/pages/factory.ts
  packages/theme/tests/e2e/pages/product.ts
Labels: theme

#202 VSF2-274/Fix search scrolling
  packages/theme/components/LocaleSelector.vue
Labels: theme

#204 VSF2-296/Add missing translations to sorting options
  packages/theme/components/CategoryPageHeader.vue
  packages/theme/lang/de.js
  packages/theme/lang/en.js
Labels: theme

#205 VSF2-295/Fix wishlist popups
  packages/composables/src/composables/useWishlists/index.ts
  packages/composables/src/helpers/index.ts
Labels: composables

#203 VSF2-297/Add missing translations to users orders table
  packages/theme/lang/de.js
  packages/theme/lang/en.js
  packages/theme/pages/MyAccount/OrderHistory.vue
  packages/theme/pages/MyAccount/ShippingDetails.vue
Labels: theme

#206 VSF2-306 - Added mock data auto generation for tests, added to docs
  docs/.vuepress/config.js
  docs/assets/testing-mocking-api-data/add-to-cart-api-call.png
  docs/assets/testing-mocking-api-data/running-test-with-intercept.png
  docs/assets/testing-mocking-api-data/running-test-without-intercept.png
  docs/guide/essentials/testing-mocking-api-data.md
  package.json
  packages/theme/tests/e2e/cypress.config.js
  packages/theme/tests/e2e/fixtures/api/e2e-add-product-to-cart.ts
  packages/theme/tests/e2e/integration/e2e-add-product-to-cart.cy.ts
  packages/theme/tests/e2e/pages/components/product-modal.ts
  packages/theme/tests/e2e/support/commands.js
  packages/theme/tests/e2e/support/index.d.ts
Labels: theme, docs

#207 VSF2-307 - Added new mock data for each tests
  packages/theme/tests/e2e/fixtures/api/e2e-api-responses-modifications.ts
  packages/theme/tests/e2e/fixtures/api/e2e-api-responses.ts
  packages/theme/tests/e2e/fixtures/api/e2e-changing-quantity.ts
  packages/theme/tests/e2e/fixtures/api/e2e-copy-billing.ts
  packages/theme/tests/e2e/fixtures/api/e2e-place-order.ts
  packages/theme/tests/e2e/fixtures/api/e2e-use-coupon.ts
  packages/theme/tests/e2e/fixtures/test-data/e2e-products.ts
  packages/theme/tests/e2e/integration/e2e-add-product-to-cart.cy.ts
  packages/theme/tests/e2e/integration/e2e-changing-quantity.cy.ts
  packages/theme/tests/e2e/integration/e2e-copy-billing.cy.ts
  packages/theme/tests/e2e/integration/e2e-place-order.cy.ts
  packages/theme/tests/e2e/integration/e2e-use-coupon.cy.ts
Labels: theme

#208 VSF2-305 - Separated add product to cart e2e tests (basic, quantity, variant)
  packages/theme/tests/e2e/fixtures/api/e2e-add-product-to-cart/e2e-product-with-quantity.ts
  packages/theme/tests/e2e/fixtures/api/e2e-add-product-to-cart/e2e-product-with-variant.ts
  packages/theme/tests/e2e/fixtures/api/e2e-add-product-to-cart/e2e-product.ts
  packages/theme/tests/e2e/integration/e2e-add-product-to-cart.cy.ts
Labels: theme
